h1 {
    margin: 0;
}

a {
    color: #fff;
}

.logo {
    width: 200px;
}

.mainHeader {
    overflow: hidden;
}

.mainHeader a {
    font-size: 18px;
    color: #fff;
}

.stickyNav {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    text-align: center;
    background-color: #23A3EA;
    padding: 15px;
    width: 100%;
}

.stickyNav a {
    margin: 0 10px;
    color: #fff;
    border-right: 1px solid #fff; /* This adds a line separator on the right of each a element */
    padding-right: 10px; /* This adds some space between the text and the line separator */
}

.stickyNav a:last-child {
    border-right: none; /* This removes the line separator from the last a element */
}

.navBar {
    padding: 15px 20px 5px; 
    background-color: #00192A;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
}

.navBarItems a {
    margin-left: 20px;
}

.navBarItems a.active {
    border-bottom: 2px solid #fff;
}

.navBarItems :hover{
    border-bottom: 2px solid #fff;
}

.cotizaButton {
    padding: 10px 15px 10px;
    border-radius: 10px;
    background-color: #2373EA;
    color: #fff; 
    text-decoration: none;
}

.cotizaButton:hover {
    cursor: pointer;
    background-color: #1c5cc5; 
    border-bottom: none;
}

.firstSection {
    position: relative; /* This allows the second div to be positioned relative to this one */
    margin-bottom: 200px; /* Adjust this value to the height of the second div */
    display: flex;
    background-image: url('/imgs/frstSectionImg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding: 3%;
    color: #fff;
    line-height: 50px;
}

.grid {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: flex-start;
}

.grid h1 {
    font-size: 45px;
}

.contentRight {
    flex: 1;
}

.headlineFirst {
    padding-bottom: 20px;
    font-size: 30px;
}

.CTAfirstSect {
    font-size: 20px;
}

.CTAquote {
    background-color: #2373EA;
    color: #fff;
}

.CTAtalkAgent {
    background-color: #fff;
    color: #2373EA;
}

section > div:nth-child(2) {
    position: absolute; /* This positions the div relative to the firstSection div */
    top: 95%; /* Adjust this value to change the overlap. 80% should make it overlap just a bit at the bottom. */
    left: 20%; /* This centers the div horizontally */
    width: 60%; /* This makes the div take up 60% of the width */
    background-color: #fff; /* This gives the div a white background */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* This gives the div a shadow */
    padding: 20px; /* This gives some space around the content */
    display: flex; /* This allows the content to be centered */
    flex-direction: column; /* This stacks the content vertically */
    align-items: center; /* This centers the content horizontally */
    justify-content: center; /* This centers the content vertically */
    border-radius: 20px; /* This gives the div rounded corners for a modern design */
}

.secondSection-st{
    font-size: 20px;
    text-align: center;
}

.header3{
    color: #333333;
    font-size: 30px;
    margin: 0;
}