/* Responsive styles */
@media screen and (min-width: 768px) {
    .stickyNav {
        flex-direction: row; /* Align items in a row for larger screens */
    }

    .stickyNav a {
        margin: 0 10px; /* Adjust margin for spacing between items */
    }

    .stickyNav a:not(:last-child)::after {
        content: '|'; /* Separator line */
        margin: 0 10px; /* Adjust spacing */
    }
    
    .stickyNav a:not(:last-child) {
        margin-bottom: 10px; /* Adjust margin for spacing between items */
    }
}

h1 {
    margin: 0;
}

a {
    color: #fff;
}

.logo {
    width: 200px;
}

.mainHeader {
    overflow: hidden;
}

.mainHeader a {
    font-size: 18px;
    color: #fff;
}

.stickyNav {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    text-align: center;
    background-color: #23A3EA;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50; /* Ensure it's above other content */
}

.stickyNav a {
    margin: 0 10px; /* Adjust margin as needed */
    color: #fff;
    text-decoration: none;
}

.stickyNav a:not(:last-child)::after {
    content: '|'; /* Separator line */
    margin: 0 10px; /* Adjust spacing */
}


.navBar {
    padding: 15px 20px 5px; 
    background-color: #00192A;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 4.5%; /* Adjust this value to match the height of .stickyNav */
}

.navBarItems a {
    margin-left: 20px;
}

.navBarItems a.active {
    border-bottom: 2px solid #fff;
}

.navBarItems :hover{
    border-bottom: 2px solid #fff;
}

.cotizaButton {
    padding: 10px 15px 10px;
    border-radius: 10px;
    background-color: #2373EA;
    color: #fff; 
    text-decoration: none;
}

.cotizaButton:hover {
    cursor: pointer;
    background-color: #1c5cc5; 
    border-bottom: none;
}

.firstSection {
    display: flex;
    background-image: url('/imgs/frstSectionImg.avif');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding: 3%;
    color: #fff;
    line-height: 50px;
}

.grid {
    flex: 2; /* Takes up part of the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: flex-start; /* Aligns items to the left, by default */
}

.grid h1 {
    font-size: 45px;
}

.contentRight {
    flex: 1; /* Takes up the other half of the container */
    /* No content needed, serves as spacing for the background */
}

.headlineFirst {
    padding-bottom: 20px;
    font-size: 30px;
}

.CTAfirstSect {
    font-size: 20px;
}

.CTAquote {
    padding: 20px 15px 20px;
    border-radius: 10px;
    background-color: #2373EA;
    color: #fff; 
    text-decoration: none;
}

.CTAtalkAgent {
    padding: 20px 15px 20px;
    border-radius: 10px;
    background-color: #fff;
    color: #2373EA; 
    text-decoration: none;
}