/* Responsive styles */
@media screen and (min-width: 768px) {
    .stickyNav {
        flex-direction: row; /* Align items in a row for larger screens */
    }

    .stickyNav a {
        margin: 0 10px; /* Adjust margin for spacing between items */
    }

    .stickyNav a:not(:last-child)::after {
        content: '|'; /* Separator line */
        margin: 0 10px; /* Adjust spacing */
    }
    
    .stickyNav a:not(:last-child) {
        margin-bottom: 10px; /* Adjust margin for spacing between items */
    }
}


.logo {
    width: 200px;
}

.mainHeader {
    overflow: hidden;
}

.mainHeader a {
    font-size: 18px;
    color: #fff;
}

.stickyNav {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    text-align: center;
    background-color: #23A3EA;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50; /* Ensure it's above other content */
}

.stickyNav a {
    margin: 0 10px; /* Adjust margin as needed */
    color: #fff;
    text-decoration: none;
}

.stickyNav a:not(:last-child)::after {
    content: '|'; /* Separator line */
    margin: 0 10px; /* Adjust spacing */
}


.navBar {
    padding: 15px 20px 5px; 
    background-color: #00192A;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 55px; /* Adjust this value to match the height of .stickyNav */
}

.navBarItems a {
    margin-left: 20px;
}

.navBarItems a.active {
    border-bottom: 2px solid #fff;
}

.navBarItems :hover{
    border-bottom: 2px solid #fff;
}

.cotizaButton {
    padding: 10px 15px 10px;
    border-radius: 10px;
    background-color: #2373EA;
    color: #fff; 
    text-decoration: none;
}

.cotizaButton:hover {
    background-color: #1c5cc5; 
    border-bottom: none;
}
